.header{
  width:100%;
  font-size: 35px;
  font-family: "Segoe UI",Arial,sans-serif;
  text-align: center;
  margin:20px;
}

.table_container{
  padding:5px;
}

thead{
  background: #6E6CFF;
}

.table-bordered > tbody > tr > td, .table-bordered > thead > tr > th {
   text-align: center;
}


.table-bordered > tbody > tr:nth-child(2n+1) > td, .table-bordered > tbody > tr:nth-child(2n+1) > th {
   background-color: #F2EEEF;
}

th{
  font-family: Verdana,sans-serif;
}

.model_title{
  width: 200px;
  max-width: 200px;
}

.danger{
  background-color: #FF6868 !important;
}

.success{
  background-color: #3FFF4D !important;
}

.monitor td:not(:first-child){
  cursor: pointer;
}
