.header{
  width:100%;
  font-size: 30px;
  font-family: roboto;
  text-align: center;
}

thead{
  background: #556AFF;
}

.table-striped > tbody > tr > td, .table-striped > thead > tr > th {
   text-align: center;
}


.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #EFF1FF;
}

.model_title{
  width: 200px;
  max-width: 200px;
}

.danger{
  background-color: #FF6868 !important;
}

.success{
  background-color: #3FFF4D !important;
}

.monitor td:not(:first-child){
  cursor: pointer;
}
